<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088108755122-b21c8uoja3kc5i4vsdh9h84ik3gmas4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088108755122-b21c8uoja3kc5i4vsdh9h84ik3gmas4l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1088108755122-vm2r5jacvfkfs61o49mmkajj3h9gas8b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgAouGOHdWgsvONw-C1ijYz83CL9vFxzg</string>
	<key>GCM_SENDER_ID</key>
	<string>1088108755122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guilhermereis.minhasviagens.minhasViagens</string>
	<key>PROJECT_ID</key>
	<string>minhas-viagens-322501</string>
	<key>STORAGE_BUCKET</key>
	<string>minhas-viagens-322501.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088108755122:ios:5b4c8b4f483d242fe8b1ab</string>
</dict>
</plist>